# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# Static Build
staticfiles/

# OS
.DS_Store
Thumbs.db